<%#                                   
    This is a theme for LuCI. It is based on luci-theme-bootstrap
    luci-theme-vi
    Licensed to the public under the Apache License 2.0

-%>

<%
    local ver = require "luci.version"
    local disp = require "luci.dispatcher"
    local request  = disp.context.path
    local category = request[1]
    local tree = disp.node()
    local categories = disp.node_childs(tree)
%>

</div>
</div>
</div>
<footer class="mobile-hide">
    🌈 春风骀荡 蓦然吹去 | 🌸 Support by <a href="https://nonni.cn">Nonni</a> 
    <% if #categories > 1 then %>
    <ul class="breadcrumb pull-right" id="modemenu">
        <% for i, r in ipairs(categories) do %>
            <li<% if request[1]==r then %> class="active"<%end%>><a href="<%=controller%>/<%=r%>/"><%=striptags(translate(tree.nodes[r].title))%></a> <span class="divider">|</span></li>
        <% end %>
    </ul>
    <% end %>
</footer>

<script>                                         
    var luciLocation = <%= luci.http.write_json(luci.dispatcher.context.path) %>;
</script>
<script src="<%=media%>/js/jquery.min.js?v=git-18.247.71242-9541751"></script>
<script src="<%=media%>/js/script.js?v=git-18.247.71242-9541751"></script>
</body>

</html>
